.menu {
    display: flex;
    li {
        font-weight: bold;
        margin-left: 24px;
    }
    a {
        @include link;
    }
}


.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;
}

.product-item img {
    width: 100%;
    border-radius: $border-radius;
}

.product-button {
    @include button($bg-color3);

    &:hover {
        background-color: $hover-color;
    }
}
