$familia-fonte: Roboto, sans-serif;
$bg-color: #fff;
$bg-color2: #182C61;
$bg-color3: #44bd32;
$largura-container: 1024px;
$espaco-cabecalho: 16px;
$border-radius: 16px;
$decoracao: none;
$hover-color:  #4cd137;
$tela-maior: 1023px;
$tela-menor: 767px;